/* _variables.scss */

$white: #ffffff;
$gray1: #f5f5f5;
$gray2: #e2e2e2;
$gray3: #c7c7c7;
$gray4: #a7a7a7;
$gray5: #868686;
$gray6: #666666;
$gray7: #4a4a4a;
$gray8: #323232;
$gray9: #202020;
$black: #000000;

$blue1: #bfe8ff;
$blue2: #7fd0ff;
$blue3: #40b9ff;
$blue4: #00a2ff; //main blue  
$blue5: #108adf;
$blue6: #2071bf;
$blue7: #3059a0;
$blue8: #404180; //main dark blue

$adfin-blue-light: #62b6e7;
$adfin-blue-dark: #2a2b69;

$low6: #e12500;
$low5: #f0400d;
$low4: #fd722f;
$low3: #ffa256;
$low2: #ffc26c;
$low1: #ffdd7d;
$neutral: #e2e2e2;
$high1: #ebfa79;
$high2: #cff269;
$high3: #afe352;
$high4: #84ce34;
$high5: #56b412;
$high6: #379d00;

$low6-border: #a91c00;
$low5-border: #b4300a;
$low4-border: #be5523;
$low3-border: #bf7940;
$low2-border: #bf9151;
$low1-border: #bfa65e;
$neutral-border: #a9a9a9;
$high1-border: #b0bb5b;
$high2-border: #9bb54f;
$high3-border: #83aa3d;
$high4-border: #639a27;
$high5-border: #40870d;
$high6-border: #297600;

$facebook-color: #3b5a9a;
$google-color: #dd4c39;
$twitter-color: #2daae1;
$linkedin-color: #007bb6;

$neon: #00E5FF;

$text-black: $gray8;
$text-gray: $gray6;
$text-light: $gray5;



$bp-mobile:480px;
$bp-mobile2:640px;
$bp-narrow:768px;
$bp-narrow1:840px;
$bp-narrow2:960px;
$bp-regular:1024px;
$bp-regular2:1280px;
$bp-wide:1440px;

$max-screen-width: $bp-regular2;


@font-face {
	font-family:'Inria Sans';
	src:	url('InriaSans-Light.eot');
	src:	url('InriaSans-Light.eot?#iefix') format('embedded-opentype'),
			url('InriaSans-Light.woff2') format('woff2'),
			url('InriaSans-Light.woff') format('woff'),
			url('InriaSans-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('InriaSans-LightItalic.eot');
	src:	url('InriaSans-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('InriaSans-LightItalic.woff2') format('woff2'),
			url('InriaSans-LightItalic.woff') format('woff'),
			url('InriaSans-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('InriaSans-Italic.eot');
	src:	url('InriaSans-Italic.eot?#iefix') format('embedded-opentype'),
			url('InriaSans-Italic.woff2') format('woff2'),
			url('InriaSans-Italic.woff') format('woff'),
			url('InriaSans-Italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('InriaSans-Regular.eot');
	src:	url('InriaSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('InriaSans-Regular.woff2') format('woff2'),
			url('InriaSans-Regular.woff') format('woff'),
			url('InriaSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('InriaSans-Bold.eot');
	src:	url('InriaSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('InriaSans-Bold.woff2') format('woff2'),
			url('InriaSans-Bold.woff') format('woff'),
			url('InriaSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('InriaSans-BoldItalic.eot');
	src:	url('InriaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('InriaSans-BoldItalic.woff2') format('woff2'),
			url('InriaSans-BoldItalic.woff') format('woff'),
			url('InriaSans-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}


