---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          <div class="nav other">
            <div class="nav-item">
              <a href="index.html">MapD</a> 
            </div>
            <div class="nav-item">
              <a href="adfin.html">AdFin</a> 
            </div>

            <div class="nav-item">
              <a href="3d.html" class="active">3D/VR/AR</a>
            </div>

            <div class="nav-item">
              <a href="calorie-count.html">Calorie Count</a> 
            </div>
            <div class="nav-item">
              <a href="about-com.html">About.com</a> 
            </div>
            
          </div>
      </div>
    </div>
  </div>
    <div class="content other">

      <div class="section">
        <div class="section-head">
          SpaceBear VR
        </div>
        <div class="section-view">
          <div class="view-obj no-chrome">
            <div class="view-chrome">
              
            </div>
            <div class="chrome-details"></div>
            <div class="view ">
              
                <div class="view-content">
                  <div class="screenshot">
                    <iframe src="http://player.vimeo.com/video/204151345?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" style="width:100%; height:100%;"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                   <div class="screenshot">
                   <img src="img/spacebear-1.png" srcset="img/spacebear-1-low.png 640w, img/spacebear-1.png 1280w" />
                  </div>
                   <div class="screenshot">
                   <img src="img/spacebear-2.png" srcset="img/spacebear-2-low.png 640w, img/spacebear-2.png 1280w" />
                  </div>
                </div>
            </div>
          </div>
          <div class="view-nav">
            <span data-mode="standard" class="active"></span>
            <span data-mode="standard"></span>
            <span data-mode="standard"></span>
          </div>
          <div class="section-info">
            <div class="info-inner">
              <div class="info-sec">
                    <p><strong>SpaceBear VR</strong> is a game I am developing in Unity for the Vive.</p> 
                    <p>I design the gameplay, illustrate concept arts, model and texture the characters in Maya, and build the game using Unity and C#.
                    </p>
               </div>
              
            </div>
          
            
          </div>
        </div>

      <div class="section">
        <div class="section-head">
         VR Desktop
        </div>
        <div class="section-view">
          <div class="view-obj vr">
            <div class="view-chrome">
              
            </div>
            <div class="chrome-details"></div>
            <div class="view ">
            
                <div class="view-content">
                  <div class="screenshot"><img src="img/vr-desktop-3.gif" srcset="img/vr-desktop-3.gif 640w, img/vr-desktop-3.gif 1280w" /></div>
                </div>
            </div>
          </div>
          <div class="section-info">
            <div class="info-inner">
              <div class="info-sec">
                    <p><strong>VR Desktop</strong> is my concept of a VR Operating System for our productivity apps, built with Unity3D.</p>
                    <p>This is not your futurist's vision of VR, but the first step in the transition of 2D desktop interfaces into a 3D world.</p>
               </div>
              
            </div>
          </div>
        </div>
        
      </div>


      <div class="section">
        <div class="section-head">
         3D WebGL Data Visualization
        </div>
        <div class="section-view">
          <div class="view-obj wide">
            <div class="view-chrome">
              
            </div>
            <div class="chrome-details"></div>
            <div class="view ">
            
                <div class="view-content">
                  <div class="screenshot"><img src="img/globe.jpg" srcset="img/globe-sm.jpg 640w, img/globe.jpg 1280w" /></div>
                </div>
            </div>
          </div>
          <div class="section-info">
            <div class="info-inner">
              <div class="info-sec">
                    <p><strong>Where I've Been</strong> is a personal project that is an exploration of my FourSquare location data using WebGL via Three.js</p> 
                    <p>You can visualize your own FourSquare data at <a href="http://www.duhoang.com/globe" target="_blank" style="text-decoration: underline">www.duhoang.com/globe</a></p>
               </div>
              
            </div>
          </div>
        </div>
        
      </div>

      
      
      
      <div class="section">
        <div class="section-head">
          Little Pilots
        </div>
        <div class="section-view">
          <div class="view-obj no-chrome">
          	<div class="view-chrome">
            	
            </div>
            <div class="chrome-details"></div>
            <div class="view ">
            	
                
                <div class="view-content">
                	<iframe src="http://player.vimeo.com/video/3994777?title=0&amp;byline=0&amp;portrait=0" style="width:100%; height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
          </div>
          <div class="section-info">
          	<div class="info-inner">
            	<div class="info-sec">
                    <p><strong>Little Pilots</strong> is a 3D animated short film that I made for my thesis at SVA, where I studied design and computer animation.</p> 
                    <p>Over the course of three semesters, I drew storyboards, design the characters; model, texture, rig, and animate with Maya, composite all the shots with AfterEffects, and edit the film using Final Cut Pro.</p>
               </div>
              
          	</div>
          
            
          </div>
        </div>

      </div>
        
      </div>
    </div>
    <div  class="next-link"><a href="calorie-count.html"> My Work For Calorie Count<span class="icon"><svg viewBox="0 0 32 32"><use xlink:href="#icon-arr-right"></use></svg></span></a></div>
</body>
</html>
