---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          <div class="nav adfin">

              <div class="nav-item">
                  <a href="index.html" >Imeve</a>
              </div>
              
            <div class="nav-item">
              <a href="mapd.html">MapD</a> 
            </div>
            <div class="nav-item">
              <a href="sysdig.html">Sysdig</a>
          </div>
            

          <div class="nav-item">
            <a href="adfin.html" class="active">AdFin</a> 
          </div>
            <div class="nav-item">
              <a href="calorie-count.html">Calorie Count</a> 
            </div>

          </div>
      </div>
    </div>
  </div>
 <div class="content adfin">
      <div class="section">
      <div class="section-view section-tweet">
        <div class="arrow arrow-left">
          <svg viewBox="0 0 24 24"><use xlink:href="#arrow"></use></svg>
        </div>

        <div class="arrow arrow-right">
          <svg viewBox="0 0 24 24"><use xlink:href="#arrow"></use></svg>
        </div>

        <div class="view-transform scrollable">
          <div class="tile order order-3 animated">
                <img src="img/adfin-1.png" srcset="img/adfin-1-low.png 640w, img/adfin-1.png 1280w" />
          </div>

          

          <div class="tile order order-2 animated">
                <img src="img/adfin-2.png" srcset="img/adfin-2-low.png 640w, img/adfin-2.png 1280w" />
          </div>

          <div class="tile order order-1 animated">
                <img src="img/adfin-3.png" srcset="img/adfin-3-low.png 640w, img/adfin-3.png 1280w" />
          </div>

          <div class="nav-item">
            <a href="vr-ar.html">VR/AR</a> 
          </div>


        </div>
      </div>

      <div class="section-heading">AdFin Analytics Platform</div>
      <div class="section-info">
        <p>I joined <strong>AdFin</strong> shortly after the launch of their MVP. My challenge was to transform a dry and overwhelmingly technical analytics platform into something that is visually attractive and user friendly.</p>
                    <p>To do this I use bold typography and colors that not only add visual interest, but also convey the underlying hierachy of the design. I then drastically simplified the graphs and charts, and made them really clean and easy to digest.</p>
                    <p>Working with <strong>AdFin</strong> allowed me to explore the craft of data visualization. It introduced me to Object Oriented Javascript, D3.js data visualization framework, and Facebook's application framework, React.js.
                    </p>
                    <p>After the redesign, we began creating new products from scratch. It was a great learning experience in designing something from nothing, and the process of design in an early stage startup that is still looking for product market fit.  
                    </p>
      </div>
    </div>


    <div class="section dark">
      <div class="section-view video">
        <div class="view-transform">

          <div class="tile">
            <iframe src="https://player.vimeo.com/video/131616039?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" style="width:100%; height:100%;"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="section-heading">Beautifully Animated Visualizations</div>
      <div class="section-info">
        <p>Interactive data visualizations should be more than just static screens. With <strong>AdFin</strong>, I've taken great care to animate the  transitions and interactions in order to bring our visuals to life. </p>
        </p>
      </div>
    </div>




    <div  class="next-link"><a href="calorie-count.html"> My Work For Calorie Count<span class="icon"><svg viewBox="0 0 24 24"><use xlink:href="#arrow"></use></svg></a></div>
</body>

</html>