---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          <div class="nav cc">
            <div class="nav-item">
              <a href="index.html">3D/VR/AR</a>
            </div>
            <div class="nav-item">
              <a href="mapd.html">MapD</a> 
            </div>
            <div class="nav-item">
              <a href="adfin.html">AdFin</a> 
            </div>
            <div class="nav-item">
              <a href="calorie-count.html" class="active">Calorie Count</a> 
            </div>
            
          </div>
      </div>
    </div>
  </div>
    <div class="content cc">
      <div class="section">
      <div class="section-view section-cc">

        <div class="view-transform ">
          <div class="row desktop">
            <div class="tile">
                  <img src="img/cc-dash.png" srcset="img/cc-dash-low.png 640w, img/cc-dash.png 1280w" />
            </div>
          </div>
          
          <div class="row translate-right">
            <div class="tile margin-right">
                  <img src="img/cc-ipad-low.png" srcset="img/cc-ipad-lowest.png 640w, img/cc-ipad-low.png 1280w" />
            </div>

            <div>
              <div class="row margin-bottom">
                <div class="tile">
                      <img src="img/cc-iphone.png" srcset="img/cc-iphone-low.png 640w, img/cc-iphone.png 1280w" />
                </div>

                <div class="tile android">
                      <img src="img/cc-android.png" srcset="img/cc-android-low.png 640w, img/cc-android.png 1280w" />
                </div>
              </div>
              <div class="row">
                <div class="tile">
                    <img src="img/cc-mobile-sm.png" srcset="img/cc-mobile-sm-low.png 640w, img/cc-mobile-sm.png 1280w" />
                     
                </div>
                <div class="tile">
                     <img src="img/cc-mobile.png" srcset="img/cc-mobile-low.png 640w, img/cc-mobile.png 1280w" />
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>

      <div class="section-heading">Calorie Count, Food &amp; Fitness Social Network</div>
      <div class="section-info">
        <p>I was recruited to transform Calorie Count from a dated SEO driven website into a modern, design-focused, web and mobile social network.</p>

          <p>I introduced a social feed and game mechanics to their food &amp; activity tracking apps, added photo sharing, build the iPad app and mobile site from scratch, and redesigned all of the UX flow and interfaces.</p>

          <p>The bulk of my work at <strong>Calorie Count</strong> was in transitioning the product from desktop to mobile.</p>
                   <p>I carefully studied the design patterns and asthetics of each platform, and designed a family of apps that is cohesive in style but at the same time look and feel native to each device.</p> 
                   <p>I've also taught myself enough Objective-C do the layout and animation on the iPhone app to take the design burden off of our iOS engineers.</p>
                   <p>I designed and built an HTML5 mobile framework for our mobile web app. It is AJAX and persistent, and feels like a native app, with smooth transitions and animations between menus and screens.</p>
      </div>
    </div>

    <div class="section dark">
      <div class="section-view video">
        <div class="view-transform">

          <div class="tile">
            <iframe src="http://player.vimeo.com/video/47127854?title=0&amp;byline=0&amp;portrait=0" style="width:100%; height:100%;"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="section-heading">Video &amp; Illustrations</div>
      <div class="section-info">
        <p>I'm also responsible for all of the ad pitches, promotional materials and illustrations, including shooting and editing videos.</p>
      </div>
    </div>

     
    <div  class="next-link"><a href="index.html"><span class="icon flip"><svg viewBox="0 0 24 24"><use xlink:href="#arrow"></use></svg></span>Back to Homepage</a></div>
</body>
</html>
