---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          <div class="nav cc">
            <div class="nav-item">
              <a href="index.html">MapD</a> 
            </div>
            <div class="nav-item">
              <a href="adfin.html">AdFin</a> 
            </div>
            <div class="nav-item">
              <a href="calorie-count.html" class="active">Calorie Count</a> 
            </div>
            <div class="nav-item">
              <a href="about-com.html">About.com</a> 
            </div>
            <div class="nav-item">
              <a href="3d.html">3D/VR/AR</a>
            </div>
          </div>
      </div>
    </div>
  </div>
    <div class="content cc">
      <div class="section">
        <div class="section-head">
          <span>Calorie Count</span>, Food &amp;  Fitness <span>Social Network</span>
        </div>
        <div class="section-view">
          <div class="view-obj standard small">
          	<div class="view-chrome"></div>
            <div class="chrome-details"></div>
            <div class="view ">
                <div class="view-content">
                	<div class="screenshot">
                    <img src="img/cc-dash.png" srcset="img/cc-dash-low.png 640w, img/cc-dash.png 1280w" />
                  </div>
                </div>
            </div>
          </div>
          <div class="view-obj ipad small">
          	<div class="view-chrome"></div>
            <div class="chrome-details"></div>
            <div class="view ">
                <div class="view-content">
                	<div class="screenshot">
                    <img src="img/cc-ipad-low.png" srcset="img/cc-ipad-lowest.png 640w, img/cc-ipad-low.png 1280w" />
                  </div>
                </div>
            </div>
          </div>
          <div class="view-obj iphone small">
          	<div class="view-chrome"></div>
            <div class="chrome-details"></div>
            <div class="view ">
                <div class="view-content">
                	<div class="screenshot">
                    <img src="img/cc-mobile-sm.png" srcset="img/cc-mobile-sm-low.png 640w, img/cc-mobile-sm.png 1280w" />
                  </div>
                </div>
            </div>
          </div>
           <div class="view-nav"></div>
          <div class="section-info">
          	<div class="info-inner">
            	<div class="info-sec">
                    <p>I was recruited to transform Calorie Count from a dated SEO driven website into a modern, design-focused, web and mobile social network.</p>

          <p>I introduced a social feed and game mechanics to their food &amp; activity tracking apps, added photo sharing, build the iPad app and mobile site from scratch, and redesigned all of the UX flow and interfaces.</p>

               </div>
               
              
          	</div>
          </div>
        </div>
        
      </div>
      <div class="section">
        <div class="section-head">
          iOS, Android &amp; Mobile Web Apps
        </div>
       <div class="section-view">
          <div class="view-obj iphone">
          	<div class="view-chrome">
            	
            </div>
            <div class="chrome-details"></div>
            <div class="view ">
            	
                
                <div class="view-content">
                	<div class="screenshot">
                    <img src="img/cc-iphone.png" srcset="img/cc-iphone-low.png 640w, img/cc-iphone.png 1280w" />
                  </div>
                   <div class="screenshot">
                    <img src="img/cc-android.png" srcset="img/cc-android-low.png 640w, img/cc-android.png 1280w" />
                  </div>
                  <div class="screenshot">
                    <img src="img/cc-ipad.png" srcset="img/cc-ipad-low.png 640w, img/cc-ipad.png 1280w" />
                  </div>
                   <div class="screenshot">
                    <img src="img/cc-mobile.png" srcset="img/cc-mobile-low.png 640w, img/cc-mobile.png 1280w" />
                  </div>
                </div>
            </div>
          </div>
          <div class="view-nav"><span data-mode="iphone" class="active"></span><span data-mode="android"></span><span data-mode="ipad"></span><span data-mode="iphone"></span></div>
          <div class="section-info">
          	<div class="info-inner">

        		<div class="info-sec">
                   <p>The bulk of my work at <strong>Calorie Count</strong> was in transitioning the product from desktop to mobile.</p>
                   <p>I carefully studied the design patterns and asthetics of each platform, and designed a family of apps that is cohesive in style but at the same time look and feel native to each device.</p> 
                   <p>I've also taught myself enough Objective-C do the layout and animation on the iPhone app to take the design burden off of our iOS engineers.</p>
                   <p>I designed and built an HTML5 mobile framework for our mobile web app. It is AJAX and persistent, and feels like a native app, with smooth transitions and animations between menus and screens.</p>
               </div>
               
          
            </div>
            
            
          </div>
        </div>
        
      </div>
      <div class="section">
        <div class="section-head">
          <span>Video &amp; Illustrations</span>
        </div>
        <div class="section-view">
          <div class="view-obj no-chrome">
          	<div class="view-chrome">
            	
            </div>
            <div class="chrome-details"></div>
            <div class="view ">
            	
                
                <div class="view-content">
                	<iframe src="http://player.vimeo.com/video/47127854?title=0&amp;byline=0&amp;portrait=0" style="width:100%; height:100%;"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
          </div>
          <div class="section-info">
          	<div class="info-inner">
            	<div class="info-sec">
                    <p>I'm also responsible for all of the ad pitches, promotional materials and illustrations, including shooting and editing videos.</p>
               </div>
               
              
          	</div>
          </div>
          
          
        </div>
        
      </div>
    </div>
    <div  class="next-link"><a href="about-com.html"> My Work For About.com<span class="icon"><svg viewBox="0 0 32 32"><use xlink:href="#icon-arr-right"></use></svg></span></a></div>
</body>
</html>
