---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          
      </div>
    </div>
  </div>

  <div class="content">
    <div class="section">

      <div class="tile">
        <img src="img/copilot-1.png"  />
      </div>
      <div class="horizontal-section">
        <div class="section-heading">Copilot AI</div>
        <div class="section-info">
          <p>Copilot is the AI/Machine Learning group within Xaxis. As the Lead Data Visualization Designer, I work to translate AI algorithms into visual forms, building bespoke visualizations that help machine communicates with people.
            </p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="tile-grid">
        <div class="t">
          <img src="img/copilot-grid-4.png"  />
        </div>
        <div class="t">
          <img src="img/copilot-grid-2.png"  />
        </div>
        <div class="t">
          <img src="img/copilot-grid-3.png"  />
        </div>
        <div class="t">
          <img src="img/copilot-grid-1.png"  />
        </div>
        <div class="t">
          <img src="img/copilot-grid-6.png"  />
        </div>
        <div class="t">
          <img src="img/copilot-grid-5.png"  />
        </div>
      </div>
      <div class="horizontal-section">
        <div class="section-heading">Data Visual-ization As Art</div>
        <div class="section-info">
          <p>Data visualization is an art form as much as it is a visual tool. Despite protest from some within the data visualization community, data visualization's aesthetic qualities is undeniable.</p>
            <p>Since the begining, beautiful visualizations have been coveted as objects of art. It is in many ways the precursor to computer generated art, where data, numbers, and formulas inform shapes and colors.</p>
<p>Practitioners of data visualization should consider artfulness in their work. Being artful doesn't diminish the value of a visualization, but instead allow it to transcend the data and captivate the spirit.</p>
              </p>
        </div>
      </div>
    </div>

    <div class="section">
    
      <div class="horizontal-section">
        <div> 
          <div class="section-heading">Function Over Form</div>
          <div class="section-info">
            <p>At the heart of a visualization is the data, a source of knowledge and truth.</p>
            <p>A good visualization communicates this truth, without distortion or prejudice. It guides the viewer along the path of knowledge, slowly revealing the meaning of the data encoded within.</p> 
            <p>Data visualizations that are devoid of meanings are merely just pretty pictures.</p>
          </div>
        </div>
        <div class="vertical-imgs">
          <div class="t">
            <img src="img/copilot-research-2.png"  />
          </div>
          <div class="t" style="border: 1px solid #d4d4d4; margin: 32px 0;">
            <img src="img/copilot-research-1.png"  />
          </div>

           <div class="t">
            <img src="img/copilot-research-3.png"  />
          </div>
          

        </div>
      </div>
    </div>

  

    <div  class="next-link" >
      <a href="imeve.html">Imeve<span class="icon" ><svg viewBox="0 0 24 24"><use xlink:href="#icon-arrow2"></use></svg></span></a>
    </div>
  </div>
</body>
</html>
