---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          <div class="nav other">
            <div class="nav-item">
              <a href="index.html" class="active">Imeve</a>
            </div>
            
            <div class="nav-item">
              <a href="mapd.html">MapD</a> 
            </div>

            <div class="nav-item">
              <a href="sysdig.html">Sysdig</a> 
            </div>

            <div class="nav-item">
              <a href="calorie-count.html">Calorie Count</a> 
            </div>

            <div class="nav-item">
              <a href="vr-ar.html">VR/AR</a>
            </div>

          </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="section">
      <div class="section-view down-up">

        <div class="view-transform ">
          <div class="tile">
            <div class="grid-fx"></div>
                <img src="img/imeve-screenshot-1.jpg" srcset="img/imeve-screenshot-1-low.jpg 640w, img/imeve-screenshot-1.jpg 1280w" />
          </div>
        </div>
      </div>

      <div class="section-heading">Imeve Play</div>
      <div class="section-info">
          <p>Imeve Play is a social VR app for the Oculus Rift, Go and GearVR, that allow users to watch live events or VOD together. Founded by key members of the Nokia OZO 360&deg; Camera team, Imeve hopes to leverage cutting-edge 360&deg; streaming video technology to deliver immersive live experiences that can be virtually shared around the world.
            </p>
            <p>    I lead the UX/UI design of Imeve Play, and also work as a 3D artist and UI engineer on the project. As designer, I guide the leadership team through the design process, from identifying user goals to ideating features and visualizing new products, then I design said products. As 3D artist, I create assets for the UI and virtual environments, such as skyboxes, 3D models and textures. And as UI engineer, I build functional UI components and implement features within Unity.
          </p>
        </div>
    </div>

    <div class="section  side-section">
      <div class="section-view">
        <div class="view-transform ">

          <div class="tile">
              <img src="img/imeve-ux-1.png" srcset="img/imeve-ux-1-low.png 640w, img/imeve-ux-1.png 1280w" />
                <img src="img/imeve-ux-2.png" srcset="img/imeve-ux-2-low.png 640w, img/imeve-ux-2.png 1280w" />

          </div>
        </div>
      </div>
      <div class="side-column" >
        <div class="section-heading">UX Design</div>
        <div class="section-info">
            <p>I'm a practitioner of Goal-Directed Design and my design process starts with user research and the crafting of personas. This is a crucial first step towards understanding the users' goals and pain points, and to ensure that our designs address their needs.
               </p>
              <p> A reality of working in a small startup, in an emerging field like VR, is that you often do not have the resources or even a large enough user base to perform the comprehensive user research that is dictated by formal UX methods. In this case, you'll have to be tactical with your process; make use of the UX tools that are available to you, then work to fill the missing gaps in knowledge with iterative design prototypes to validate your ideas and assumptions.
              </p>
                <p> At Imeve, we conducted a series of stakeholder interviews and creative exercises where we envision a future in which VR headsets are readily available to everyone. We then hypothesized about their use cases and solutions as they pertain to our core technology. We followed the UX design playbook as much as possible; modeling our user behaviors, creating scenarios and key paths, and generating design artifacts such as storyboards and diagrams along the way.
                   </p>
                  <p> VR is a new horizon for UX/UI design, and as such, we cannot readily rely on many of the existing design patterns and conventions. It is often necessary to invent new interaction paradigms, and for that, we take a lot of our inspirations from video games, sci-fi movies and the real world. When all else fail, we dream up new possibilities from our imagination then test them rigorously with design prototypes.

                  </p>
              </div>
      </div>
    </div>

    <div class="section  side-section right-aligned">
        <div class="section-view">
          <div class="view-transform ">
  
            <div class="tile" style="background: none;">
                <img src="img/imeve-ui-components.gif"  />
                <img src="img/imeve-skybox-1.jpg" srcset="img/imeve-skybox-1-low.jpg 640w, img/imeve-skybox-1.jpg 1280w" style="margin-top: 16px;" />
                <img src="img/imeve-scene-1.jpg" srcset="img/imeve-scene-1-low.jpg 640w, img/imeve-scene-1.jpg 1280w" style="margin-top: 16px;" />

            </div>
          </div>
        </div>
        <div class="side-column" >
          <div class="section-heading">UI Design & Engineering</div>
          <div class="section-info">
              <p>We are currently in a transitional period where many users are being introduced to VR for the first time. One strategy for VR UI design is to translate familiar 2D interfaces into 3D space. This is a quick way to onboard users and allow for the transfer of interaction skills from one platform into another. We can also make use of physical interfaces (handles, switches, street signs, etc.) to similar effects in VR.

              </p>
                <p> When employing this method it is important to meet the expectation of the user, that the interaction in 2D or the physical world would carry over into VR and have the same predictable result.
                   </p>
                  <p> The other thing to keep in mind is the differences between each medium. Ergonomics of 2D interfaces have been largely standardized with the use of the keyboard and mouse. But a UI in VR must grapples with a user's physical build, mobility and fitness. For example, placing a button too high up can put it out of reach for some users, and can cause neck strain or discomfort for others trying to reach it. And while physical UIs are constrained by physical forces (gravity, space, time, etc.), VR UIs does not have to obey those laws.</p>
                    <p>
                        The environment plays a big role in VR UI design. It creates the world where the UI lives, and therefore, the UI has to be believable in the context of that universe. Sound effects also become an indispensable part of the UI, and help further immerse the user into the environment. </p>
                      <p>A crucial skillset to have when designing for VR is prototyping. The ability to quickly build design prototypes to validate new ideas is an incredible asset in a field where there are few established standards. Designers are only beginning to scratch the surface of VR design, and as we explore new design patterns, discovering novel interactions, we must have a way to test and validate our findings.

                      </p>
              </div>
        </div>
      </div>


  

      <div  class="next-link" >
        <a href="mapd.html"> My Work for MapD<span class="icon"><svg viewBox="0 0 24 24"><use xlink:href="#arrow"></use></svg></span></a>
      </div>
</body>
</html>
