---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          <div class="nav">
            <div class="nav-item">
              <a href="index.html" class="active">MapD</a> 
            </div>
            <div class="nav-item">
              <a href="adfin.html">AdFin</a> 
            </div>
            <div class="nav-item">
              <a href="calorie-count.html">Calorie Count</a> 
            </div>
            <div class="nav-item">
              <a href="about-com.html">About.com</a> 
            </div>
            <div class="nav-item">
              <a href="other-works.html">Other Works</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="section">
      <div class="section-head">
        MapD Tweet Map
      </div>
      <div class="section-view">
        <div class="view-obj slide-up wide">
        	<div class="view-chrome"></div>
          <div class="chrome-details"></div>
          <div class="view">
              <div class="view-content">
                <div class="screenshot">
                 <img src="img/mapd-1.png" srcset="img/mapd-1-lowres.png 640w, img/mapd-1.png 1280w" />
                </div>

                <div class="screenshot">
                 <img src="img/mapd-2.png" srcset="img/mapd-2-lowres.png 640w, img/mapd-2.png 1280w" />
                </div>
              	
                <div class="screenshot">
              	   <img src="img/mapd-3.png" srcset="img/mapd-3-lowres.png 640w, img/mapd-3.png 1280w" />
                </div>
              </div>
          </div>
        </div>
         <div class="view-nav"><span data-mode="standard" class="active"></span><span data-mode="standard"></span><span data-mode="standard"></span></div>
        <div class="section-info">
        	<div class="info-inner">
          	<div class="info-sec">
                  <p><strong>MapD</strong> needed a beautiful data visualization demo to impress potential investors and customers. To that end I designed and build a bold, modern, highly interactive tweet map using D3.js and MapBoxGL.</p>
                  <p>The visual design of the map is inspired by the colors and lines of Japanese woodblock paintings.</p>
             </div>
        	</div>
        </div>
      </div>
      
    </div>

    <div class="section">
      <div class="section-head">
        Data Visualization Dashboard
      </div>
      <div class="section-view">
        <div class="view-obj slide-up wide-2">
          <div class="view-chrome"></div>
          <div class="chrome-details"></div>
          <div class="view">
              <div class="view-content">
                <div class="screenshot">
                   <img src="img/mapd-screen-1.png" srcset="img/mapd-screen-1-lowres.png 640w, img/mapd-screen-1.png 1280w" />
                </div>
                <div class="screenshot">
                 <img src="img/mapd-screen-2.png" srcset="img/mapd-screen-2-lowres.png 640w, img/mapd-screen-2.png 1280w" />
                </div>
                <div class="screenshot">
                 <img src="img/mapd-screen-3.png" srcset="img/mapd-screen-3-lowres.png 640w, img/mapd-screen-3.png 1280w" />
                </div>
                  
              </div>
          </div>
        </div>
         <div class="view-nav"><span data-mode="standard" class="active"></span><span data-mode="standard"></span><span data-mode="standard"></span></div>
        <div class="section-info">
          <div class="info-inner">
            <div class="info-sec">
                  <p>In the competitive field of data visualization dashboards, <strong>MapD</strong> needed innovate design to differentiate itself from the rest of the pack.</p>
                  <p>The key is to leapfrog the current industry standard, which is mired in decades of corporate application design, with its obtuse visual language and steep learning curve.</p> 
                  <p>So I created new design paradigms with the aim of bringing clarity and simplicity to the complex world of big data exploration.</p>
             </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="section">
      <div class="section-head">
        Tweet Map Interactions 
      </div>
      <div class="section-view">
        <div class="view-obj no-chrome">
          <div class="view-chrome"></div>
          <div class="chrome-details"></div>
          <div class="view ">
              <div class="view-content">
                <iframe src="http://player.vimeo.com/video/144312724?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" style="width:100%; height:100%;"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
          </div>
        </div>
        <div class="section-info">
          <div class="info-inner">
            <div class="info-sec">
                  <p>My philosophy is that interactive data visualization should be more than a collection of static views. And with the thoughtful use of animation and transitions, my goal is to bring it to life.</p>
             </div>
          </div>
        </div>
        
      </div>
      
    </div>

  </div>
  <div  class="next-link"><a href="adfin.html"> My Work For AdFin<span class="icon"><svg viewBox="0 0 32 32"><use xlink:href="#icon-arr-right"></use></svg></span></a></div>
</body>

</html>