---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          
      </div>
    </div>
  </div>

  <div class="content">
    <div class="section">

      <div class="tile" style="border: 1px solid #d4d4d4">
        <img src="img/sysdig-1.png" />
      </div>
      <div class="horizontal-section">
        <div class="section-heading">Sysdig</div>
        <div class="section-info">
          <p>Sysdig is a monitoring and security platform for cloud-native infrastructure, where I lead design projects building consumer grade security tools for Fortune 500 companies.
            </p>
        </div>
      </div>
    
      
    </div>


    <div class="section">
      <div class="horizontal-section wide">
        <div class="vertical-imgs">
          <div class="t">
            <img src="img/sysdig-3.png"  style="border: 1px solid #d4d4d4;"/>
          </div>
          <div class="t" style="border: 1px solid #d4d4d4; margin: 32px 0;">
            <img src="img/sysdig-2.png"  />
          </div>

        </div>
        <div>
        <div class="narrow-col"> 
          <div class="section-heading">Consumer Quality Enterprise App</div>
            <div class="section-info">
             <p>Modern workers have come to expect consumer grade experiences in their enterprise applications. It is no longer acceptable to ship clunky, unattractive productivity tools to the workplace. Enterprise users now demand easy to use UX, and beautiful UI.</p><p>
Design has become and integral part of the value proposition for enterprise applications. Because of this, good design can drive significant growth and revenue, by attracting and creating a dedicated user base, and slow churn.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="section">
      <div class="horizontal-section">
        <div>
          <div class="section-heading">Design for Mega Enterprises</div>
            <div class="section-info">
             <p>A startup, in the service of large enterprise clients, once it reaches a certain size has to shift the way that it does business. And this shift is also reflected in the design process.</p><p>

No longer is it acceptable to ship rapid prototypes and design iterations, as young startups wont to do when they are looking for product-market fit. Enterprise users expect fewer updates, but for those updates to be full-featured, well though-out and, above all, stable.</p><p>

At the same time, when a product team grows the design process has to evolve to accommodate for a greater collaboration between multiple designers and PMs. There is a considerable amount of planning and coordination necessary for this to happen.</p><p>

A good place to start is to visualize a timeline of the project. Beginning with the end date and plan backwards to make sure that you will meet your eventual deadline. Using design sprints can bring a nice cadence to your work, with clear milestones for each sprint for you and your teammates to coordinate your efforts around.</p><p>

As always, the design process start with research. Work with PMs and other stakeholders to define objectives and strategies. Perform competitive analysis of the market place and competing products. This should give you a baseline for your design.</p><p>

Next, work with a UX researcher to identify your users' personas and goals. Schedule user interviews. Talk to users to discover their workflows, mental models and behavior patterns. A clear understanding of the user and their work is a must when designing enterprise software for an esoteric domain.</p><p>

Synthesize your research into a brief for your design team. Engage them in group exercises. Brainstorm solutions together, and build consensus around a direction for the design.</p><p>

Create design mockups and prototypes for user testing. Iterate your design based on user feedback until they are satisfied. During this period, it is useful to hold weekly design critiques with your team, as a way to solicit their ideas and ensure that your design aligns with the team's values.</p><p>

Spec the feature for engineering review, and collaborate with visual designers on the design details.</p><p>


It is a lot of work, but necessary in order to deliver thoughtful, well-researched, and collaborative design.</p>
            </div>
        </div>
        <div class="vertical-imgs">
          <div class="t">
            <img src="img/sysdig-ux-3.jpg" />
          </div>
          <div class="t" >
            <img src="img/sysdig-ux-2.jpg"  />
          </div>

        </div>
      </div>
    </div>
    

  

    <div  class="next-link" >
      <a href="index.html">Home<span class="icon" ><svg viewBox="0 0 24 24"><use xlink:href="#icon-arrow2"></use></svg></span></a>
    </div>
  </div>
</body>
</html>
