---
title: Du Hoang
---

{% include header.html %}
{% include user.html %} 
          <div class="nav adfin">

              <div class="nav-item">
                  <a href="index.html" >Imeve</a>
              </div>
              
            <div class="nav-item">
              <a href="mapd.html">MapD</a> 
            </div>
            <div class="nav-item">
              <a href="sysdig.html" class="active">Sysdig</a> 
            </div>
            <div class="nav-item">
              <a href="adfin.html" >AdFin</a> 
            </div>
            <div class="nav-item">
              <a href="calorie-count.html">Calorie Count</a> 
            </div>
      
            
          </div>
      </div>
    </div>
  </div>
 <div class="content adfin">
      <div class="section">
      <div class="section-view section-tweet">
        <div class="arrow arrow-left">
          <svg viewBox="0 0 24 24"><use xlink:href="#arrow"></use></svg>
        </div>

        <div class="arrow arrow-right">
          <svg viewBox="0 0 24 24"><use xlink:href="#arrow"></use></svg>
        </div>

        <div class="view-transform">
          <div class="tile order order-3 animated">
                <img src="img/sysdig-1.png" srcset="img/sysdig-1-low.png 640w, img/sysdig-1.png 1280w" />
          </div>

          


          <div class="tile order order-1 animated">
                <img src="img/sysdig-3.png" srcset="img/sysdig-3-low.png 640w, img/sysdig-3.png 1280w" />
          </div>


          <div class="tile order order-2 animated">
              <img src="img/sysdig-2.png" srcset="img/sysdig-2-low.png 640w, img/sysdig-2.png 1280w" />
        </div>


        </div>
      </div>

      <div class="section-heading">Sysdig Monitor & Security Platform</div>
      <div class="section-info">
        <p>Sysdig is a powerful monitoring and security platform for cloud-native infrastructures. With the rise of microservice and container technology came a need for an enterprise-grade security and monitoring solution for large corporations as they migrate to this new architecture. Sysdig seeks to fill that need.
            </p><p>As the lead product designer for Sysdig it is my responsibility to spearhead design projects and deliver impactful design solutions for both our users and the company.
                </p>
            </div>
    </div>

    <div class="section  side-section right-aligned">
        <div class="section-view">
          <div class="view-transform ">
  
            <div class="tile">
                <img src="img/sysdig-ux-1.png" srcset="img/sysdig-ux-1-low.png 640w, img/sysdig-ux-1.png 1280w" />
                <img src="img/sysdig-ux-3.jpg" srcset="img/sysdig-ux-3-low.jpg 640w, img/sysdig-ux-3.jpg 1280w" />

                <img src="img/sysdig-ux-2.jpg" srcset="img/sysdig-ux-2-low.jpg 640w, img/sysdig-ux-2.jpg 1280w" />
  
            </div>
          </div>
        </div>
        <div class="side-column" >
          <div class="section-heading">Design for Enterprise</div>
          <div class="section-info">
                <p>A startup, in the service of large enterprise clients, once it reaches a certain size has to shift the way that it does business. And this shift is also reflected in the design process.
                </p><p>No longer is it acceptable to ship rapid prototypes and design iterations, as young startups wont to do when they are looking for product-market fit. Enterprise users expect fewer updates, but for those updates to be full-featured, well though-out and, above all, stable.
                    </p><p>At the same time, when a product team grows the design process has to evolve to accommodate for a greater collaboration between multiple designers and PMs. There is a considerable amount of planning and coordination necessary for this to happen.
                        </p><p>A good place to start is to visualize a timeline of the project. Beginning with the end date and plan backwards to make sure that you will meet your eventual deadline. Using design sprints can bring a nice cadence to your work, with clear milestones for each sprint for  you and your teammates to coordinate your efforts around.
                            </p><p>As always, the design process start with research. Work with PMs and other stakeholders to define objectives and strategies. Perform competitive analysis of the market place and competing products. This should give you a baseline for your design.
                                </p><p>Next, work with a UX researcher to identify your users' personas and goals. Schedule user interviews. Talk to users to discover their workflows, mental models and behavior patterns. A clear understanding of the user and their work is a must when designing enterprise software for an esoteric domain.
                                    </p><p>Synthesize your research into a brief for your design team. Engage them in group exercises. Brainstorm solutions together, and build consensus around a direction for the design.
                                        </p><p>Create design mockups and prototypes for user testing. Iterate your design based on user feedback until they are satisfied. During this period, it is useful to hold weekly design critiques with your team, as a way to solicit their ideas and ensure that your design aligns with the team's values.
                                            </p><p>Spec the feature for engineering review, and collaborate with visual designers on the design details.
                                                </p><p>Phew!
                                                    </p><p>It is a lot of work, but necessary in order to deliver thoughtful, well-researched, and collaborative design. 
            </p>
            </div>
        </div>
      </div>



    <div  class="next-link"><a href="adfin.html"> My Work For AdFin<span class="icon"><svg viewBox="0 0 24 24"><use xlink:href="#arrow"></use></svg></a></div>
</body>

</html>