<div class="header">
    <div class="header-inner">
      <div class="header-content">
          <div class="user  clear-fix">
            <div class="user-photo">
              <a href="http://duhoang.com">
                <img src="img/me-2016.jpg" />
              </a>
            </div>
            <div class="user-info">
              <div class="user-name">Du Hoang</div>
              <div class="user-title">UX &middot; UI &middot; VR &middot; AR &middot; Datavisualization Designer  <br/> Front End Developer</div>
            </div>
  
            <div class="user-contact">
              <a class="contact-item" href="mailto:du.hoang@gmail.com" target="_blank">
                <svg viewBox="0 0 32 32">
                  <use xlink:href="#icon-mail"></use>
                </svg>
              </a>
              <a class="contact-item" href="http://twitter.com/duhoang" target="_blank">
                <svg viewBox="0 0 32 32">
                  <use xlink:href="#icon-twitter"></use>
                </svg>
              </a>
              <a class="contact-item linkedin" href="http://linkedin.com/in/duhoang" target="_blank">
                <svg viewBox="0 0 32 32">
                  <use xlink:href="#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </div>