<div class="header">
  <div class="header-inner">
    <div class="header-content">
      <div class="user-flexbox">
        <div class="user-photo">
          <a href="http://duhoang.com">
            <img src="/img/me-2018.png" />
          </a>
        </div>
        <div class="user-info">
          <div class="user-name">Du Hoang</div>
          <div class="user-title">UX &middot; UI &middot; VR &middot; AR &middot; Dataviz Designer</div>
          <div class="user-contact">
            <a class="contact-item" href="mailto:du.hoang@gmail.com" target="_blank">
              <svg viewBox="0 0 24 24">
                <use xlink:href="#icon-mail"></use>
              </svg>
            </a>
            <a class="contact-item linkedin" href="http://linkedin.com/in/duhoang" target="_blank">
              <svg viewBox="0 0 24 24">
                <use xlink:href="#icon-linkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="user-quote">
        <div class="quote-front">
          <svg viewBox="0 0 24 24">
            <use xlink:href="#icon-quote"></use>
          </svg>
        </div>
          I'm excited about the future of VR/AR design. The technology has matured and we as designers are now capable of creating the seamless digital worlds of our dreams.
        <div class="quote-back">
          <svg viewBox="0 0 24 24">
            <use xlink:href="#icon-quote"></use>
          </svg>
        </div>
      </div>
    </div>
