<div class="homepage user-header">
    <div class="about">
      <div class="about-me">
        <div class="about-photo">
            <a href="https://duhoang.com"><img src="/img/me-2019.jpg"/></a>
        </div>
        <div class="about-info">
          <div class="about-name">
            <a href="https://duhoang.com">Du Hoang</a>
          </div>
          <div class="about-title">
            Design Technologist
          </div>
          <div class="about-contact">
            <a class="contact-link" href="mailto:du.hoang@gmail.com" target="_blank">
              <svg viewBox="0 0 24 24">
                <use xlink:href="#icon-mail"></use>
              </svg>
            </a>
            <a class="contact-link linkedin" href="http://linkedin.com/in/duhoang" target="_blank">
              <svg viewBox="2 2 22 22">
                <use xlink:href="#icon-linkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="header">


